<a href="/users/<%= current_user.id %>">View My Secrets</a>
<h3><%= current_user.name %></h3>
<form action="/update" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="name">Name</label>
    <input type="text" name="user[name]" id="name" value="<%= current_user.name %>">
    <label for="email">Email</label>
    <input type="text" name="user[email]" id="email" value="<%= current_user.email %>">
    <input type="submit" value="Update">
</form>
<form action="/destroy/<%= current_user.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Delete Account">
</form>