<% @secrets.each do |secret| %>
    <p><%= secret.content %></p>
    <p><%= secret.likes.count %> likes</p>
    <% if current_user.secrets_liked_ids.include? secret.id %>
        <form action="/liked/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="secret" value="unlike">
            <input type="submit" value="Unlike">
        </form>
    <% else %>
        <form action="/liked/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="secret" value="like">
            <input type="submit" value="Like">
        </form>
    <% end %>
    <% if current_user == secret.user %>
        <form action="/secret/destroy/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Delete Secret">
        </form>
    <% end %>
<% end %>